<section id="about">
    <div>
        <h2>О нас</h2>

        <div id="about-content">
            <p>Я — Ольга и я знаю, где вы закопали радость материнства. Рождение моей дочери поделило мою личную жизнь
                на «до» и «после». «До», где я хозяйка всей себя и «после», когда мой маленький Властелин размазал меня
                по суткам тонким слоем и от меня прежней остались только туфли в шкафу. В моем мире из подгузников
                каждое раннее утро на меня падала бетонная плита размером с девятиэтажку и я с трудом могла вспомнить,
                что я ела на обед (и ела ли вообще).</p>

            <p>Так прошли 4,5 месяца и я осознала, что перестала чувствовать что-либо, кроме огромного желания спать.
                Мое возвращение к себе и мой долгий путь в профессию начался именно тогда. И теперь я точно могу
                сказать, что обучение сну стало лучшей инвестицией в ребенка. Никакие советы по уходу за малышом не
                изменили мою жизнь и жизнь всей семьи так круто, как работа над сном.</p>

            <p>Теперь я дипломированный консультант по детскому сну и моё единственное искреннее стремление — помогать
                мамам восстановить свой ресурс, почувствовать себя легче и увереннее путем работы над сном их малышей. Я
                оказываю профессиональную поддержку семьям, которые желают:</p>
            <ul>
                <li>отучить ребенка от укачиваний, соски, сна на груди</li>
                <li>перевести ребенка спать в свою кроватку или отдельную комнату</li>
                <li>научить малыша спать без мамы ночью и днем</li>
                <li>удлинить дневной сон</li>
                <li>иметь предсказуемый распорядок дня</li>
                <li>избавиться от долгих укладываний на сон и частых ночных пробуждений</li>
                <li>обучить ребенка самостоятельному засыпанию</li>
            </ul>

            <p>Наша с вами работа позволит Вам высыпаться, подарит наслаждение материнством и силы обожать малыша так,
                как вы себе это представляли. Вы сможете наладить СВОЙ распорядок дня и иметь до 5 часов личного времени
                каждый день для любимых занятий, спорта, общения с мужем и старшими детьми.</p>
        </div>
    </div>
    <div>
        <picture>
            <source srcset="assets/img/olga-500px.webp" type="image/webp">
            <source srcset="assets/img/olga-500px.jpg" type="image/jpeg">
            <img src="assets/img/olga-500px.jpg" loading="lazy" alt="Ольга Мырсикова">
        </picture>
    </div>
</section>