<section id="course">
    <h2>Курс по сну SON-ON</h2>

    <p class="italic">Это моя авторская программа, главная цель которой - научить ребенка спать
        самостоятельно и облегчить жизнь родителей.</p>

    <div id="course-content">

        <div>

            <h3>С чем сталкивается большинство родителей каждый день?</h3>
            <ul>
                <li>ребенок часто просыпается по 6-8 раз за ночь</li>
                <li>ребенок засыпает только в кровати с родителями</li>
                <li>ребенок засыпает только с грудью</li>
                <li>бесконечные укачивания</li>
                <li>ребенок долго не может уснуть</li>
                <li>у ребенка нет режима</li>
                <li>ребенок не умеет продлевать сны ни днем ни ночью</li>
            </ul>

            <h3>Что получит родитель?</h3>
            <ul>
                <li>возможность планировать свой день</li>
                <li>спать всю ночь без лишних пробуждений</li>
                <li>убрать часовые укачивания и висение на груди</li>
                <li>родители снова спят в одной кровати, а не по разным комнатам</li>
                <li>свободные вечера для себя и своих желаний</li>
                <li>веселого, хорошо отдыхающего малыша, который спит в своей кроватке</li>
            </ul>

        </div>
        <div>

            <h3>Что включено в курс?</h3>
            <ul>
                <li>6 часов лекционного материала</li>
                <li>28 дней ежедневная обратная связь через групповой чат</li>
                <li>4 групповые встречи с Ольгой Мырсиковой</li>
                <li>5 методик на любой вкус (эффективность и безопасность подтверждена надежными исследованиями в
                    области детского сна и привязанности)</li>
                <li>чат-болталка с другими родителями</li>
                <li>возможность подключения личной поддержки консультанта по сну через дневник сна или личный звонок
                </li>
            </ul>

            <h3>Всё ещё не уверены?</h3>
            <ul>
                <li>доступ к курсу в любое удобное для Вас время суток</li>
                <li>материалы курса остаются у Вас навсегда</li>
                <li>все лекции в записи</li>
                <li>ежедневная обратная связь и поддержка в чате</li>
                <li>Курс Son-ON подходит для деток от 4 месяцев от ПДР до 18 месяцев</li>
            </ul>

        </div>

    </div>

    <h3 id="course-price">Стоимость курса Son-On 95€</h3>

    <iframe id="course-video" src="https://www.youtube.com/embed/4CCX_E5W3_0"
        title="Авторский курс по детскому сну Ольги Мырсиковой SON - ON" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <p class="course-button button">
        <a href="https://wa.me/message/HPSI6GCN4IQ4K1" title="WatsApp SleepConsult" target="_blank">
            зарегистрироваться
        </a>
    </p>


</section>
