<header>

  <script>
    function toggleMenu() {
      var menu = document.getElementById("menu");
      var menuButton = document.getElementById("menu-button");
      if (menu.style.display === "none") {
        menu.style.display = "flex";
        menuButton.style.fill = "white";
      } else {
        menu.style.display = "none";
        menuButton.style.fill = "#636e72";
      }
    }

    function closeMenu() {
      document.getElementById("menu").style.display = "none";
      document.getElementById("menu-button").style.fill = "#636e72";
    }

  </script>

  <nav>

    <svg id="menu-button" onClick="toggleMenu()" aria-hidden="true" focusable="false" role="img"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <title>Меню</title>
      <path
        d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
      </path>
    </svg>

    <div id="menu-container">
      <div id="menu-768">
        <p><a href="{{ site.url }}/#about">Об авторе</a></p>
        <p class="menu-star">&starf;</p>
        <p><a href="https://anyclass.com/course_son_author" target="_blank"
            title="Онлайн-курс Supermama Сон">Онлайн-курс Supermama Сон</a></p>
        <p class="menu-star">&starf;</p>
        <p><a href="{{ site.url }}/#prices">Цены</a></p>
        <p class="menu-star">&starf;</p>
        <p><a href="{{ site.url }}/#webinars">Вебинары</a></p>
        <p class="menu-star">&starf;</p>
        <p><a href="{{ site.url }}/#blog">Полезные статьи</a></p>
        <p class="menu-star">&starf;</p>
        <p><a href="{{ site.url }}/#contacts">Контакты</a></p>
      </div>
      <div>
        <p><a href="https://wa.me/message/HPSI6GCN4IQ4K1" target="_blank" title="WatsApp SleepConsult"
            class="menu-call button">Заказать звонок</a></p>
      </div>
    </div>

    <div id="menu">
      <p><a onclick="closeMenu()" href="https://wa.me/message/HPSI6GCN4IQ4K1" target="_blank"
        title="WatsApp SleepConsult" class="menu-call button">Заказать звонок</a></p>
      <p><a onClick="closeMenu()" href="{{ site.url }}/#about">Об авторе</a></p>
      <p><a onClick="closeMenu()" href="https://anyclass.com/course_son_author" target="_blank"
          title="Онлайн-курс Supermama Сон">Онлайн-курс Supermama
          Сон</a></p>
      <p><a onClick="closeMenu()" href="{{ site.url }}/#prices">Цены</a></p>
      <p><a onClick="closeMenu()" href="{{ site.url }}/#webinars">Вебинары</a></p>
      <p><a onClick="closeMenu()" href="{{ site.url }}/#blog">Полезные статьи</a></p>
      <p><a onClick="closeMenu()" href="{{ site.url }}/#contacts">Контакты</a></p>
    </div>

  </nav>

</header>