<section id="home">

    <div id="home-description">
        <h1 itemprop="name">Профессиональные консультации по сну детей 🌙</h1>
        <p itemprop="abstract">Верните себе энергию и хорошее настроение! Мы поможем наладить сон ребенка без
            лекарств!</p>
    </div>

    <div id="home-buttons">
        <div class="home-button button">
            <a href="https://wa.me/message/HPSI6GCN4IQ4K1"
                target="_blank" title="WatsApp SleepConsult">
                <p>скачать 5 шагов, чтобы спал</p>
            </a>
        </div>
        <div class="home-button button">
            <a href="https://wa.me/message/HPSI6GCN4IQ4K1"
                target="_blank" title="WatsApp SleepConsult">
                <p>заказать звонок</p>
            </a>
        </div>
    </div>

</section>
