<section id="home">

    <div id="home-description">
        <h1 itemprop="name">Профессиональные консультации по сну детей 🌙</h1>
        <p itemprop="abstract">Верните себе энергию и хорошее настроение! Мы поможем наладить сон ребенка без
            лекарств!</p>
    </div>

    <div id="home-buttons">
        <div class="home-button button">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6oIaGUONAM8K3IfqVk4_jvoV_4UWhU94jEjyExZPq2d3WTA/viewform"
                target="_blank" title="Форма для получения файла">
                <p>скачать 5 шагов, чтобы спал</p>
            </a>
        </div>
        <div class="home-button button">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdurDaxCJvOzkIVpY_qZJGNxhWWbmk-QZ7PpCDPSphRAjqDzA/viewform"
                target="_blank" title="Форма для заказа звонка" target="_blank">
                <p>заказать звонок</p>
            </a>
        </div>
    </div>

</section>