<section id="intro">

    <div id="intro-text" itemprop="description">

        <h2>Трудно быть родителями ребенка, который плохо спит…</h2>
        <p>Ребенка не уложить и он часто просыпается по ночам. Вы вымотаны, разочарованы и стыдитесь своих чувств.
            Вы думаете, что сами виноваты.</p>
        <p>Попробуем Вас немного утешить. Да, если ребенок плохо спит, это вызывает растерянность и беспокойство. И
            совершенно естественно беспокоиться о его здоровье. Вы - не плохие родители. И Вы не одиноки.</p>
        <p>Чтобы ваш ребенок хорошо спал, просто необходима правильная методика обучения. У нас она есть.</p>
        <p>Мы - команда сертифицированных специалистов по сну детей от 0 до 7 лет. Мы работали с тысячами родителей,
            как
            вы, - родителей, желающих, чтобы их ребенок хорошо спал, но не знающих, что для этого делать. Наш онлайн
            курс откроет вам простые секреты, которые помогут вашему ребенку хорошо спать.</p>

        <div id="intro-buttons">
            <div>
                <div class="intro-more button">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScklmGYSnQYCdf39SIEJVqoMpncHKKAMz_O8tVAcHpit82HiQ/viewform?usp=share_link"
                        target="_blank" title="Форма для записи на курс">
                        <p>запишитесь на курс сейчас 95€</p>
                    </a>
                </div>
            </div>
            <div>
                <div class="intro-more button">
                    <a href="#course" title="Курс по сну SON-ON">
                        <p>узнать больше</p>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div id="intro-about">

        <div class="intro-about-text-left">
            <p>Мы знаем, каково это, когда:
            <ul>
                <li>малыш часто просыпается по ночам</li>
                <li>приходится долго укладывать плачущего ребенка</li>
                <li>каждый час успокаивать маленького ночью, чтоб он снова уснул</li>
            </ul>
            </p>
            <p>Именно поэтому уже более 5 лет мы помогаем таким клиентам, как вы, выспаться и вернуть гармонию в семью!
                Присоединяйтесь к тем 2000 семьям, которые уже научили своих деток спать по нашему методу!</p>
        </div>

        <div class="intro-about-image">
            <img src="assets/img/star-150px.png" loading="lazy" alt="Звезда">
        </div>

        <div class="intro-about-text-right">
            <p>Конец бессоннице и неразберихе!
            <ul>
                <li>укладывание на сон станет быстрым и легким</li>
                <li>ребенок научится спать в своей кроватке</li>
                <li>вы наконец-то выспитесь</li>
                <li>появится время заниматься собой, партнером, домом и другими детьми</li>
                <li>партнер вернется в кровать</li>
                <li>больше времени для работы, учебы и хобби</li>
                <li>начнете наслаждаться родительством</li>
                <li>выйдете на работу</li>
                <li>избавитесь от постоянных подсосов/качаний/бутылок по ночам</li>
            </ul>
            </p>
        </div>

    </div>

    <div id="feedback">

        <div id="quotes">

            <div class="quote">
                <p>Мой ребёнок засыпает сам! Да, иногда медленнее, иногда нужна помощь, совершенству ведь нет предела,
                    но я
                    больше не иду на укладывание, как на каторгу. И это огромная победа. Я вижу, что ещё можно и нужно
                    улучшать, но разница до и после невероятная. От всей души спасибо за мой сон!</p>
            </div>

            <div class="quote">
                <p>Уже два вечера подряд я её оставляю и ухожу на кухню, говорю что дверь будет открыта, пару раз встает
                    и
                    зовет меня, я прихожу обнимаю, она снова ложится, и в итоге засыпает за минут 20-30, а не полтора
                    часа
                    как раньше, когда я сней в комнате сидела, днем конечно я рядом, так как тоже сплю.</p>
            </div>

            <div class="quote">
                <p>Работая с Вами в
                    дневнике, я
                    почуствовала уверенность в своих действиях. И что хочется отметить. То, что безусловно помогли Ваши
                    рекомендации, мы их соблюдаем и всё получается, но и так же большую роль сыграло само заполнение
                    дневника.</p>
            </div>

            <div class="quote">
                <p>Я даже могу посидеть чай попить, помыть голову, убраться в доме и приготовить обед пока спит днём или
                    когда уходит в ночь! Эсто успешный успех. Раньше не могла даже пошевелиться, лишь бы не разбудить!
                </p>
            </div>

            <div class="quote">
                <p>Каждый день, когда смотрю на быстро и главное предсказуемо засыпающего Лео, благодарю Вас. Я уже даже
                    не
                    помню, что такое сопротивление на сон. Но даже если вдруг появится, меня уже не напугать!</p>
            </div>

            <div class="quote">
                <p>Просто знайте, что вы делаете одного человека на Земле спокойнее и счастливее, а вместе с этим
                    человеком
                    ещё и маленького человека. Спасибо вам!</p>
            </div>

            <div class="quote">
                <p>Это очень круто, что есть такая профессия как консультант по детскому сну. И что есть такие идейные
                    люди,
                    выкладывающие в свою работу частичку себя. Просто спасибо вам что вы есть, что ведете этот блог.</p>
            </div>

            <div class="quote">
                <p>Большое спасибо, что убедила меня перевести её таки в комнату, оказалось ей вообще эти кормления и не
                    нужны, если никто (родители) спать не мешают! Я сама в шоке что она просто от того факта, что спит
                    одна,
                    перестала просить грудь! В общем, ты как всегда фея!</p>
            </div>
        </div>

        <div class="instagram-more button">
            <a href="https://www.instagram.com/sleep.consult/" target="_blank">
                <p>читать отзывы в Инстаграм</p>
            </a>
        </div>

    </div>

    <div id="numbers">

        <div class="numbers-item">
            <picture>
                <source srcset="assets/img/crib-300px.webp" type="image/webp">
                <source srcset="assets/img/crib-300px.png" type="image/png">
                <img src="assets/img/crib-300px.png" loading="lazy" alt="Детская кроватка">
            </picture>
        </div>

        <div class="numbers-item">
            <p>более <span class="numbers-highlight">5 лет</span> опыта в сфере детского сна и воспитания</p>
            <p>более <span class="numbers-highlight">10000 часов</span> консультаций</p>
            <p>более <span class="numbers-highlight">600</span> положительных отзывов</p>
        </div>

    </div>

    <div id="intro-services">
        <h2>И ваш малыш тоже начнет спать лучше!</h2>

        <div id="intro-services-group">
            <div>
                <img class="intro-services-icon" src="assets/img/call.svg" alt="Иконка звонка" />
                <h3>Запланируйте звонок</h3>
                <p>закажите звонок с экспертом, чтобы он побеседовал с вами и определил, что вам нужно</p>
            </div>

            <div>
                <img class="intro-services-icon" src="assets/img/checklist.svg" alt="Иконка плана" />
                <h3>Составьте план</h3>
                <p>вместе мы составим план действий, чтобы достичь вашей цели</p>
            </div>

            <div>
                <img class="intro-services-icon" src="assets/img/coffee.svg" alt="Иконка горячего напитка" />
                <h3>Наслаждайтесь результатом!</h3>
                <p>Наладьте сон малыша и живите полноценной жизнью без лишней путаницы и суеты</p>
            </div>
        </div>

    </div>

    <div id="intro-final">

        <div>
            <p>В SleepConsult знают, что вы из тех людей, которые хотят наладить сон ребенка. Чтобы этого достичь, вам
                требуется поддержка со стороны экспертов. Проблема в том, что вы многое перепробовали, но малыш все
                равно
                спит непредсказуемо и часто плачет по ночам. Из-за этого вы чувствуете себя разбитыми и беспомощными,
                вините
                себя и думаете, что делаете все не так.</p>
            <p>Мы уверены, что каждый ребенок может хорошо спать! Что каждая семья достойна здорового отдыха! Мы
                понимаем,
                каково это: просыпаться каждый час, чтобы снова успокоить малыша. Вот почему мы уже более 5 лет помогаем
                таким семьям, как вы, выспаться и вернуть гармонию в дом! Это выглядит так:
            <ul>
                <li>закажите звонок с экспертом</li>
                <li>получите план действий</li>
                <li>наслаждайтесь результатом!</li>
            </ul>
            </p>
            <p>Итак, закажите звонок прямо сейчас, чтобы покончить с бессонными ночами и начать жизнь с ребенком, полную
                энергии, любви и хорошего настроения!</p>
        </div>
    </div>

</section>