<section id="webinars">

    <h2>Вебинары</h2>

    <div id="webinars-content">

        <div class="webinar" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Сон в 0—4 месяца <br><span class="webinar-price" itemprop="offers" itemscope
                    itemtype="https://schema.org/Offer"><span itemprop="price">27</span><span
                        itemprop="priceCurrency">€</span></span></h3>

            <div>
                <svg class="webinar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 63 48"
                    transform="translate(0.000000, 2.000000)" fill="none" stroke-width="1">
                    <title>Baby-stroller</title>
                    <path d="M8,12.9L7,7H0" />
                    <path
                        d="M52,31.2 c6.1-3.2,10-10.7,10-16.3C62-1.375,44.05-2.625,39,0v17h22.875H22l-4-4.1H8v0.4c0,5.5,4.6,15,10.7,18.3" />
                    <path d="M39,16.9L50.919-0.145" />
                    <path d="M39,17L59.9,7" />
                    <path d="M27.9,34.3 c2.5,0.5,4.3,0.6,7.1,0.6s5.5-0.3,8-0.8" />
                    <circle cx="22" cy="38" r="7" />
                    <circle cx="49" cy="38" r="7" />
                </svg>
            </div>
            <p>Вы ожидаете появления первого ребенка и хотите знать, чего ожидать в первые месяцы его жизни?</p>
            <p>В этом вебинаре я помогу Вам разобраться со всеми нюансами сна детей в раннем младенчестве. Вы узнаете:
            </p>
            <ul>
                <li>как развивается сон в возрасте 0-4 месяцев</li>
                <li>как понять, что малышу надо поспать</li>
                <li>когда начинать укладывать и как укладывать</li>
                <li>какие периоды будут самыми сложными и как их преодолеть</li>
                <li>пеленать или нет? качать или нет? давать пустышку или нет?</li>
                <li>режим дня, как и когда его выстраивать</li>
                <li>как прийти к 4 месяцам без негативных ассоциаций на сон</li>
                <li>тренировки сна: когда начинать и как правильно проводить</li>
            </ul>
            <p>Состав вебинара: видео 100 минут + конспект рекомендаций.</p>
            <p class="webinar-register-button button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdUgPZMK1iudeKrnitC2NSZf2kmDzRM_PoShSp0G5B1ypN6dw/viewform?usp=sharing"
                    target="_blank">
                    зарегистрироваться
                </a>
            </p>
        </div>

        <div class="webinar" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Сон в поездках <br><span class="webinar-price" itemprop="offers" itemscope
                    itemtype="https://schema.org/Offer"><span itemprop="price">25</span><span
                        itemprop="priceCurrency">€</span></span></h3>

            <div>
                <svg class="webinar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 5 65 61" stroke-width="1"
                    fill="none">
                    <title>Train</title>

                    <path stroke-linejoin="round"
                        d="M55,55.9 h7.7L58,42v-8c-0.3-1.1-1-5-1-5v-2h1c1.1,0,1-0.9,1-2v-1c0-1.1,0.1-2-1-2h-7c-1.1,0-1,0.9-1,2v1c0,1.1-0.1,2,1,2h1v5h-7v-3h-4v3h-5 v-3h-4v3h-5v-8h0.9c1.1,0,1-0.9,1-2v-3c0-1.1,0.1-2-1-2H4c-1.1,0-1,0.9-1,2v3c0,1.1-0.1,2,1,2h1v13.9H2c-1.1,0-1,0.9-1,2v9 c0,1.1-0.1,2,1,2h3" />
                    <path d="M39.8,54.9h4" />
                    <path d="M22.103,54.9H28" />
                    <rect x="9" y="25" stroke-linejoin="round" width="5" height="11.9" />
                    <rect x="18" y="25" stroke-linejoin="round" width="5" height="7" />
                    <path stroke-linejoin="round" d="M21.9,46.9h37.8" />
                    <path stroke-linejoin="round" d="M14,42 h44" />
                    <circle stroke-linejoin="round" cx="14" cy="51" r="9" />
                    <circle stroke-linejoin="round" cx="34" cy="54" r="6" />
                    <circle stroke-linejoin="round" cx="50" cy="54" r="6" />
                </svg>
            </div>

            <p>Вы собрались в поездку и с ужасом думаете об укладываниях в машине/аэророрте/транспорте/в отеле? Или Вы
                обучили ребенка спать самостоятельно и переживаете за укладывания дома у родителей/друзей?</p>
            <p>Этот вебинар снимет все тревоги, я поделюсь своими самыми сокровенными секретами об организации сна в
                поездках. Вы узнаете:</p>
            <ul>
                <li>что взять с собой</li>
                <li>в какое время суток лучше стартовать</li>
                <li>как укладывать накануне поездки</li>
                <li>чего ожидать от ребенка в такси/аэропорте/машине и как там спать</li>
                <li>как сделать сон малыша в транспорте более комфортным</li>
                <li>стратегия укладывания на новом месте</li>
                <li>личные лайфхаки и супер-полезные советы, которых Вы не найдете больше нигде</li>
                <li>страшно ли, если отпуск поломал малышу сон, и как поступать дома по приезду</li>
            </ul>
            <p>Вы можете мне доверять: за первый год жизни моей дочери мы посетили более 12 стран!</p>
            <p>Состав вебинара: видео 65 минут + конспект рекомендаций.</p>
            <p class="webinar-register-button button">
                <a href="https://docs.google.com/forms/d/17FIILiLQtElxRg5g5vYErx9bMYCZ4hnjVmncrFL98ms/edit"
                    target="_blank">
                    зарегистрироваться
                </a>
            </p>
        </div>

        <div class="webinar" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Переход на 1 сон <br><span class="webinar-price" itemprop="offers" itemscope
                    itemtype="https://schema.org/Offer"><span itemprop="price">20</span><span
                        itemprop="priceCurrency">€</span></span></h3>

            <div>
                <svg class="webinar-icon" viewBox="-6.5 -1 65 65" xmlns="http://www.w3.org/2000/svg"
                    transform="translate(1.000000, 2.000000)" stroke-width="1" fill="none">
                    <title>Feather</title>
                    <path
                        d="M7.3,51.7 C9.5,51.7 19,49.9 27.6,41.5 C28.4,40.7 23.7,39.7 24.4,38.8 C25.2,37.9 31.5,37.2 32.2,36.3 C35,32.8 37.5,29.3 39.6,25.9 C40.2,25 33.8,26.6 34.3,25.7 C34.8,24.8 42.2,21.5 42.6,20.7 C48.5,10 50.8,1.3 49.5,0.1 C48.5,-0.9 40.4,2.2 36.5,5.4 C35.7,6 30.5,15.6 29.5,16 C28.7,16.3 29.2,10.5 32.1,7.8 C28.3,9.6 23,12.5 19.4,15.8 C19.1,16.1 18.4,24.1 18.1,24.5 C17.4,25.2 17.2,18.1 16.6,18.9 C7.6,29.9 1.2,45.1 4.8,50.6 C5.1,50.5 5.7,51.7 7.3,51.7 L7.3,51.7 Z" />
                    <path d="M0,61.9 C1,60.9 15.8,30.9 40.4,11.9" />
                </svg>
            </div>

            <ul>
                <li>Признаки перехода на 1 сон</li>
                <li>Как и зачем удерживать 2 сна</li>
                <li>Как и зачем чередовать дни с 1 и 2 снами</li>
                <li>Как долго длится переход</li>
                <li>Чего ожидать в поведении малыша</li>
                <li>Как стабилизировать график с одним сном</li>
                <li>Как избежать ранних подъемов при переходе</li>
            </ul>
            <p>Состав вебинара: видео 43 минуты + конспект рекомендаций по переходу.</p>
            <p class="webinar-register-button button">
                <a href="https://docs.google.com/forms/d/1tNOkLgWhRhU0ii1CMUFBQMRLTCEMxvrIQhU8BV1Lu9E/viewform?edit_requested=true"
                    target="_blank">
                    зарегистрироваться
                </a>
            </p>
        </div>

        <div class="webinar" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Истерики детей <br><span class="webinar-price" itemprop="offers" itemscope
                    itemtype="https://schema.org/Offer"><span itemprop="price">40</span><span
                        itemprop="priceCurrency">€</span></span></h3>
            <div>
                <svg class="webinar-icon" viewBox="0 -5.5 64 64" xmlns="http://www.w3.org/2000/svg"
                    transform="translate(1.000000, 2.000000)" stroke-width="1" fill="none">
                    <title>Strike</title>
                    <path d="M14.7,8.9 C17.6,3.6 23.3,0 29.8,0 C39.3,0 47,7.6 47,17.1 C47,18.4 46.8,19.7 46.6,20.9" />
                    <path d="M27,36 L13.6,36 C6.1,36 0,29.9 0,22.5 C0,15 6.1,9 13.6,9 C17.1,9 20.3,10.3 22.7,12.4" />
                    <path
                        d="M47.4,14.5 C48.5,14.1 49.7,14 50.9,14 C57,14 62,18.9 62,25 C62,31.1 57,36 50.9,36 L35,36" />
                    <path d="M17,40 L13,48" />
                    <path d="M34,31 L27,43 L33,41 L27,51" />
                    <path d="M46,40 L42,48" />
                </svg>
            </div>

            <p>Малышу около 2 лет, он научился топать ножкой и яростно отстаивать свое право на самостоятельность?
                Поздравляю! С ребенком все в порядке, он развивается в правильном направлении! Но как не сойти с ума от
                этих безудержных криков?</p>

            <p>В этом вебинаре Вы найте ответы на все вопросы об истериках детей:</p>
            <ul>
                <li>Как выдерживать истерики ребенка</li>
                <li>Что делать с собой, когда ребенок истерит</li>
                <li>Когда истерика началась. Как поступать</li>
                <li>Идеальная модель взаимодействия родителя и ребенка</li>
                <li>Манипуляции детей. Умеют ли они и что с этим делать</li>
                <li>Крики, угрозы и наказания</li>
                <li>Собираемся в сад/из сада, в гости/из гостей, а ребенок истерит. Что делать?</li>
                <li>Почему ребенок не слушается и что с этим делать</li>
                <li>Принципы адекватного воспитания</li>
                <li>Ответы на вопросы участниц</li>
            </ul>

            <p>Состав вебинара: видео 153 мин с подробным таймингом + конспект.</p>

            <p class="webinar-register-button button">
                <a href="https://docs.google.com/forms/d/1tNOkLgWhRhU0ii1CMUFBQMRLTCEMxvrIQhU8BV1Lu9E/viewform?edit_requested=true"
                    target="_blank">
                    зарегистрироваться
                </a>
            </p>
        </div>

        <div class="webinar" itemscope itemtype="https://schema.org/Service">
            <h3 itemprop="name">Подготовка и адаптация к детскому саду <br><span class="webinar-price" itemprop="offers"
                    itemscope itemtype="https://schema.org/Offer"><span itemprop="price">35</span><span
                        itemprop="priceCurrency">€</span></span></h3>

            <div>
                <svg class="webinar-icon" viewBox="-12 0 63 63" xmlns="http://www.w3.org/2000/svg"
                    transform="translate(1.000000, 2.000000)" stroke-width="1" fill="none">
                    <title>Zeppelin</title>
                    <path
                        d="M37,15.9 C37,7.8 26.6,0 18.5,0 C10.4,0 0,7.8 0,15.9 C0,31.5 13.1,39.1 13.1,44 L24,44 C24,40.1 37,31.5 37,15.9 L37,15.9 Z" />
                    <path d="M15,44.3 L15,51" />
                    <path d="M22,44.3 L22,51" />
                    <path
                        d="M25,59 C25,60.1 24,61 22.8,61 L14.1,61 C12.9,61 11.9,60.1 11.9,59 L11.9,53 C11.9,51.9 12.9,51 14.1,51 L22.8,51 C24,51 25,51.9 25,53 L25,59 L25,59 Z" />
                    <path d="M14,55 L16.9,55" />
                    <path d="M20.1,55 L23,55" />
                    <path d="M14,58 L16.9,58" />
                    <path d="M20.1,58 L23,58" />
                    <path d="M11.6,1.6 C11.6,1.6 1.3,11.8 15.5,39.4 C15.5,39.4 16.5,42.1 16.5,44.1" />
                    <path d="M25.3,1.6 C25.3,1.6 35.7,11.2 21.4,39.4 C21.4,39.4 20.4,42.1 20.4,44.1" />
                </svg>
            </div>

            <p>Скоро маме на работу, а малышу в садик. Необходимая, но очень пугающая перемена в жизни семьи. Этот
                вебинар снимет Ваши тревоги и расскажет, как правильно поступать, чтобы эти перемены плавно влились в
                вашу жизнь.</p>

            <p>Когда отдавать в садик?</p>
            <ul>
                <li>Какие моменты учесть для принятия решения о садике</li>
                <li>Слезы при прощании: как правильно себя вести</li>
                <li>Плохо ведет себя в садике. Как реагировать</li>
                <li>Как быстро ребенок привыкнет к садику</li>
                <li>Стадии адаптации к садику, их особенности</li>
                <li>Проблемы адаптации и как их решить</li>
                <li>Настройка режима перед садиком</li>
                <li>Лайф-хаки по компенсации состояния малыша</li>
                <li>Садик и ГВ / горшок</li>
                <li>Разбор случаев из практики</li>
                <li>Ответы на вопросы участниц</li>
            </ul>

            <p>Состав вебинара: видео 150 мин с подробным таймингом, 4 конспекта с рекомендациями, бонусный урок о
                плохом поведении в саду.</p>

            <p class="webinar-register-button button">
                <a href="https://docs.google.com/forms/d/1tNOkLgWhRhU0ii1CMUFBQMRLTCEMxvrIQhU8BV1Lu9E/viewform?edit_requested=true"
                    target="_blank">
                    зарегистрироваться
                </a>
            </p>
        </div>

    </div>

</section>